@media only screen and (max-width: 1200px) {
	.services-features .e-con-boxed.e-flex{
		width: 33.33%
	}
}
@media only screen and (max-width: 1100px) and ( min-width: 1023px ) {
	.site-navbar li a{
		font-size: 14px;
	}
}
@media only screen and (max-width: 1024px) {
	.site-navbar li {
	    text-align: left;
	}
	.siteheader-main-menu .hfe-menu-item br{
        display: none;
    }
}
@media only screen and (max-width: 991px) {
	.services-features .e-con-boxed.e-flex{
		width: 50%
	}
}
@media only screen and (max-width: 768px) {
	.siteheader-main-menu .hfe-nav-menu__toggle{
        text-align: center;
        margin-right: 0 !important;
	}
	.header-top-menu nav{
        justify-content: center;
        margin-left: 0;
    } 
	.header-top-menu nav ul.hfe-nav-menu{
        justify-content: center;
        margin-left: 0;
    } 
    .siteheader-main-menu .hfe-menu-item br{
        display: none;
    }
    .siteheader-main-menu nav.hfe-dropdown {
        z-index: 9999999 !important;
    }
	.services-features .e-con-boxed.e-flex{
		width: 100%
	}
	.services-features .elementor-icon-box-content{
		display: flex;
		align-items: center;
	}
	.services-features .elementor-icon-box-content .elementor-icon-box-title{
		margin-top: -10px
	}
	.tca-col-6 {
		width: 100%;
		float: none;
	}
	.search-result-page-container{
		width: 95%;   
    }
	.menu-mobile-full .hfe-nav-menu li{
		width: 100%;
	}
}

@media only screen and (max-width: 480px){
	.tca-review-grid {
		width: 100%;
		margin: 15px 0;
	}
}